body {
    background-color: #d5cece;
}

a {
    color: #d5cece;
}

    a:link, a:visited {
        text-decoration: none;
        color: #ffffff;
    }

    a:active, a:hover {
        background-color: #808080;
    }

/*Images*/
header {
    padding: 5px;
    display: grid;
    place-content: center;
}

#http {
    width: 600px;
    height: 300px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
}

/*MOBILE SUPPORT*/
@media (max-width: 600px) {
    /*Images*/
    #http {
        width: 250px;
        height: 150px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 20px;
    }
}
